# .env file containing sensitive information
.env

# Python bytecode and cache files
__pycache__/
*.pyc

# Virtual environment directories
.venv/
env/
venv/

# PyCharm project settings (if you're using PyCharm)
.idea/

# Distribution / packaging files
*.egg-info/
dist/
build/

# Logs and test results
*.log
*.coverage
*.tox/
*.nox/
coverage.xml
nosetests.xml

# Other unnecessary files
*.py,cover
*.spec
